{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competências</h2>

{% if request.user.is_authenticated and request.user.groups.filter(name='gestor-portfolio').exists %}
    <a href="{% url 'novo_competencia' %}">
        <button>Inserir nova Competecia</button>
    </a>
{% endif %}

<section class="lista">
    {% for c in competencia %}
    <article class="card">
        <header>
            <h3>{{ c.nome }}</h3>
        </header>

        <section>
            <p>{{ c.descricao }}</p>
        </section>

        {% if request.user.is_authenticated and request.user.groups.filter(name='gestor-portfolio').exists %}
            <a href="{% url 'edita_competencia' c.id %}">
                <button>Editar informação do Competencia</button>
            </a>

            <a href="{% url 'apaga_competencia' c.id %}">
                <button>Apagar autor e seus livros</button>
            </a>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endblock %}