{% extends "portfolio/base.html" %}

{% block content %}
<h2>Formação</h2>

<a href="{% url 'novo_formacao' %}">
    <button>Inserir novo Formacao</button>
</a>

<section class="lista">
    {% for f in formacao %}
    <article class="card">
        <header>
            <h3>{{ f.nome }}</h3>
        </header>

        <section>
            <p><strong>Instituição:</strong> {{ f.instituicao }}</p>
            <p>{{ f.descricao }}</p>
        </section>

        <section>
            <h4>Tecnologias</h4>
            <ul>
                {% for t in f.tecnologias.all %}
                    <li>{{ t.nome }}</li>
                {% endfor %}
            </ul>
        </section>

        <a href="{% url 'edita_formacao' f.id %}">
            <button>Editar informação do Formação</button>
        </a>

        <a href="{% url 'apaga_formacao' f.id %}">
            <button>Apagar Formação</button>
        </a>
    </article>
    {% endfor %}
</section>
{% endblock %}