{% extends "portfolio/base.html" %}
{% block content %}

<h2>Nova Competência</h2>

<div class="form-wrapper">
    <form action="" method="post">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
                <small>{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <span class="form-error">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}

        <button type="submit" class="btn-submit">Criar Competência</button>
    </form>
</div>

{% endblock %}