{% extends "portfolio/base.html" %}

{% block content %}
<h2>TFC</h2>

<section class="lista">
    {% for t in tfc %}
    <article class="card">
        <header>
            <h3>{{ t.nome }}</h3>
        </header>

        <section>
            <p><strong>Autores:</strong> {{ t.autores }}</p>
            <p><strong>Ano:</strong> {{ t.ano }}</p>
            <p>{{ t.resumo }}</p>
            {% if t.pdf %}
                <p><a href="{{ t.pdf }}">PDF</a></p>
            {% endif %}
        </section>

        <section>
            <h4>Tecnologias</h4>
            <ul>
                {% for tec in t.tecnologias.all %}
                    <li>{{ tec.nome }}</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}